      </div>
    </div>

    <!-- <div><a href="/index.xml"><i class="fa fa-rss-square" aria-hidden="true"></i> RSS</a></div> -->
    <!-- <div><a href="https://twitter.com/JMonlong"><i class="fa fa-twitter" aria-hidden="true"></i> @JMonlong</a></div> -->

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script src="/assets/highlight.min.js"></script>
    <script src="/assets/r.min.js"></script>
    
    <script>
      hljs.configure({languages: ['r']});
      hljs.initHighlightingOnLoad();
    </script>

    <script src="//yihui.name/js/math-code.js"></script>
    <script async src="//cdn.bootcss.com/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    
  </body>
</html>
