{{ partial "default_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "post") }}

<div class="homehead">
  <h2 class="post-title">Pages</h2>
  {{ $thisperma := .Permalink }}
  {{ range .Site.Pages.ByWeight }}
  {{ if isset .Params "sidebar" }}
    <a class="homelinks" href="{{ .RelPermalink }}">{{ .Title }}</a>
  {{ end }}
  {{ end }}
</div>

<div class="posts">
  <h2 class="post-title">Posts</h2>
  {{ range .Paginator.Pages }}
    <!-- <div class="post"> -->
        <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        <span class="post-date">
	{{ if .Draft }}
	(DRAFT)
	{{ end }}
	{{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
	{{ if isset .Params "tags"}}
	<i class="fa fa-tags"></i>
	{{ range .Params.tags }}
	<a href="{{ "tags/" | relLangURL }}{{ . | urlize }}/" class="label label-primary">{{ . }}</a>
	{{ end }}
	{{ end }}
	</span>
        <!-- {{ .Content }} -->
    <!-- </div> -->
  {{ end }}
</div>

<!-- <div class="pagination"> -->
<!--   {{ if $paginator.HasNext }} -->
<!--   <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a> -->
<!--   {{ else }} -->
<!--   <span class="pagination-item older">Older</span> -->
<!--   {{ end }} -->

<!--   {{ if $paginator.HasPrev }} -->
<!--   <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a> -->
<!--   {{ else }} -->
<!--   <span class="pagination-item newer">Newer</span> -->
<!--   {{ end }} -->
<!-- </div> -->

{{ partial "default_foot.html" . }}
